<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block header %}

{% block heading %} Login {% endblock heading %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% endblock %} {% block content %}
<body>

<div class="container" align="center">

    <a class="font-bold text-white-500 text-xl sm:text-3xl" href="/"
      >Thanks for visit .........</a><br><br>


    <a href="/accounts/login" class="text-white hover:shadow-md rounded bg-blue-500 px-4 py-1">login</a>
</div><br>

</body>
{% endblock %}
</html>